<a href="https://colab.research.google.com/github/thoufiq2892-jpg/2025-26_-DS_AI_toufiq_4107/blob/main/data_mainpulation_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
data={
"Name": ['John', 'Alice', 'Jay', 'Mark'], "Age": [20,21,22,19],
"Marks": [70,85,75,90]}
df=pd.DataFrame(data)
print("Original data:")
print(df)
#Filtering data
print("Alice's data:")
print(df [df["Name"]=='Alice'])
print("Students with marks less than 85:")
print(df [df["Marks"]<85])
print("Students with marks greater than 75 and age less than 20:")
print(df[(df["Age"]>20)&(df["Marks"]>75)])

Original data:
    Name  Age  Marks
0   John   20     70
1  Alice   21     85
2    Jay   22     75
3   Mark   19     90
Alice's data:
    Name  Age  Marks
1  Alice   21     85
Students with marks less than 85:
   Name  Age  Marks
0  John   20     70
2   Jay   22     75
Students with marks greater than 75 and age less than 20:
    Name  Age  Marks
1  Alice   21     85

In [10]:
data={"name" :["A","B","C"],
      "age":[20,21,22],
      "marks":[70,80,90]
      }
df=pd.DataFrame(data)
print("original data :")
print(df)

original data :
  name  age  marks
0    A   20     70
1    B   21     80
2    C   22     90