<a href="https://colab.research.google.com/github/thoufiq2892-jpg/2025-26_-DS_AI_toufiq_4107/blob/main/sorting_opertion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
data={
"Name": ['John', 'Alice', 'Jay', 'Mark'], "Age": [20,21,22,19],
"Marks": [70,85,75,90]}
df=pd.DataFrame(data)
print("Original data:")
print(df)
#Filtering data
print("Alice's data:")
print(df [df["Name"]=='Alice'])
print("Students with marks less than 85:")
print(df [df["Marks"]<85])
print("Students with marks greater than 75 and age less than 20:")
print(df[(df["Age"]>20)&(df["Marks"]>75)])

Original data:
    Name  Age  Marks
0   John   20     70
1  Alice   21     85
2    Jay   22     75
3   Mark   19     90
Alice's data:
    Name  Age  Marks
1  Alice   21     85
Students with marks less than 85:
   Name  Age  Marks
0  John   20     70
2   Jay   22     75
Students with marks greater than 75 and age less than 20:
    Name  Age  Marks
1  Alice   21     85

In [19]:
data={"name" :["A","B","C"],
      "age":[20,21,22],
      "marks":[70,80,90]
      }
df=pd.DataFrame(data)
print("original data :")
print(df)

# Correctly adding a new column 'bouns'
df["bouns"] = 5
print("\nAfter adding 'bouns' column:")
print(df)
df['marks']=df['marks']+2
print("\n after increase marks:")
df["total"]=df["marks"]+df["bouns"]
print(df)

original data :
  name  age  marks
0    A   20     70
1    B   21     80
2    C   22     90

After adding 'bouns' column:
  name  age  marks  bouns
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

 after increase marks:
  name  age  marks  bouns  total
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

In [28]:
#selection sort
n = int(input("Enter number of elements: "))
arr = []

# Taking input
for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

print("Original array:", arr)

# Selection Sort logic
for i in range(n - 1):
    min_index = i
    for j in range(i + 1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    # Swap the found minimum element with the current element of the unsorted part
    arr[i], arr[min_index] = arr[min_index], arr[i]

print("Sorted array:", arr)

Enter number of elements: 5
Enter element 1: 4
Enter element 2: 5
Enter element 3: 1
Enter element 4: 2
Enter element 5: 3
Original array: [4, 5, 1, 2, 3]
Sorted array: [1, 2, 3, 4, 5]